<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
/>

<main class='container'>
  <h3>Активация аккаунта "Метка-вниз"</h3>
  <p class='flow-text'>Нажмите на кнопку внизу для активации аккаунта</p>
  <form method='post' action='{{link}}'>
    <input type='submit' value='Активировать' class='btn' />
  </form>
</main>
